@import './base.css';

#app {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #0d1117;
  font-weight: normal;
  margin: -0.5rem;
  color: #ffffff;
}
.loading {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: -1.3rem;
  min-height: 100vh;
}
a,
.green {
  text-decoration: none;
  color: rgba(68, 167, 224, 0.815);
  transition: 0.4s;
  margin: 5px;
}
* {
  box-sizing: border-box;
}

h2 {
  padding: 1rem;
}
@media (min-width: 720px) {
  .container-body {
    font-size: 1.2em;
  }

  .container-repo {
    font-size: 1.2em;
  }
}
